/* Boilerplate derived from SimpleCSS (https://simplecss.org/) */
/* Core accent color: UNL Scarlet (https://ucomm.unl.edu/brand/colors) */
/* Color complements/variants derived from Material Design's Color Tool (https://material.io/) */

/* Global variables. */
:root {
  /* Set serif & mono fonts */
  --serif-font: 'Noto Serif', serif;
  --mono-font: 'Fira Code', monospace;

  /* Default (light) theme */
  --bg: #eeeeee;
  --accent-bg: #e0e0e0;
  --text: #212121;
  --text-light: #585858;
  --border: #d8dae1;
  --accent: #d00000;
  --code: #d81b60;
  --preformatted: #444;
  --marked: #ffdd33;
  --disabled: #efefef;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: #212121;
    --accent-bg: #2b2b2b;
    --text: #dcdcdc;
    --text-light: #ababab;
    --border: #666;
    --accent: #ff5030;
    --code: #f06292;
    --preformatted: #ccc;
    --disabled: #111;
  }
  /* Add a bit of transparancy so light media isn't so glaring in dark mode */
  img,
  video {
    opacity: 0.8;
  }
}

/* style images/videos */
img {
  max-width: 100%;
}

html {
  /* Set the font globally */
  font-family: var(--serif-font);
  scroll-behavior: smooth;
}

/* Make the body a nice central block */
body {
  color: var(--text);
  background: var(--bg);
  font-size: 1.15rem;
  line-height: 1.5;
  display: grid;
  grid-template-columns:
    1fr min(900px, 95%) 1fr;
  margin: 0;
}

body>* {
  grid-column: 2;
}

/* Classes added for multi-column, long text page */

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.col1 {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 0;
  margin: 1px;
}

.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.col2 {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  margin: 6px;
}

a.top-of-page {
  position:fixed;
  bottom: 0px;
  right: 0px;
}

/* Make the header bg full width, but the content inline with body */
body > header {
  background: var(--accent-bg);
  border-bottom: 1px solid var(--border);
  text-align: center;
  padding: 0 0.5rem 2rem 0.5rem;
  grid-column: 1 / -1;
  box-sizing: border-box;
}

body > header h1 {
  max-width: 1200px;
  margin: 1rem auto;
}

body > header p {
  max-width: 40rem;
  margin: 1rem auto;
}

/* Add a little padding to ensure spacing is correct between content and nav */
main {
  padding-top: 1.5rem;
}

body > footer {
  margin-top: 4rem;
  padding: 0rem 1rem 1.5rem 1rem;
  color: var(--text-light);
  font-size: 0.9rem;
  text-align: right;
  border-top: 1px solid var(--border);
}

body > footer a {
  text-decoration: none;
}

/* Format headers */
h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.6rem;
  margin-top: 3rem;
}

h3 {
  font-size: 2rem;
  margin-top: 3rem;
}

h4 {
  font-size: 1.44rem;
  color: var(--accent);
}

h5 {
  font-size: 1.15rem;
}

h6 {
  font-size: 0.96rem;
}

/* Fix line height when title wraps */
h1,
h2,
h3 {
  line-height: 1.1;
}

/* Reduce header size on mobile */
@media only screen and (max-width: 720px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2.1rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1.25rem;
  }
}

/* Format links & buttons */
a,
a:visited {
  color: var(--text);
  text-decoration-color: var(--accent);
}

a:hover {
  color: var(--accent);
}

/* Format navigation */
nav {
  font-size: 1rem;
  line-height: 2;
  padding: 1rem 0 0 0;
}

nav a,
nav a:visited {
  margin: 0 1rem 1rem 0;
  border: 1px solid var(--border);
  border-radius: 5px;
  color: var(--text);
  display: inline-block;
  padding: 0.1rem 1rem;
  text-decoration: none;
}

nav a:hover {
  color: var(--accent);
  border-color: var(--accent);
}

/* Reduce nav side on mobile */
@media only screen and (max-width: 750px) {
  nav a {
    border: none;
    padding: 0;
    color: var(--accent);
    text-decoration: underline;
    line-height: 1;
  }
}

/* Format tables */
table {
  border-collapse: collapse;
  width: 100%;
  margin: 1.5rem 0;
}

td,
th {
  border-bottom: 1px solid var(--border);
  text-align: left;
  padding: 0.5rem;
}

th {
  background: var(--accent-bg);
  font-weight: bold;
}

td:last-child {
  text-align: right;
}

table caption {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

/* Use mono font for code elements */
code,
pre,
pre span,
kbd,
samp {
  font-size: a1.075rem;
  font-family: var(--mono-font);
  color: var(--code);
}

kbd {
  color: var(--preformatted);
  border: 1px solid var(--preformatted);
  border-bottom: 3px solid var(--preformatted);
  border-radius: 5px;
  padding: 0.1rem;
}

pre {
  padding: 1rem 1.4rem;
  max-width: 100%;
  overflow: auto;
  overflow-x: auto;
  color: var(--preformatted);
  background: var(--accent-bg);
  border: 1px solid var(--border);
  border-radius: 5px;
}

/* Fix embedded code within pre */
pre code {
  color: var(--preformatted);
  background: none;
  margin: 0;
  padding: 0;
}

/* STIKHOI begins here */
/* Suppress line numbers. */

/* PRC adjusted padding and indent so that long verses indent on mobile*/

ol.verse {
  margin-left: -1em;
  padding-left: 1.5em;
  text-indent: -1em;
}

ol.verse li {
  list-style-type: none;
  padding: 0.1em 0;
}
/* Reveal line numbers conditionally based
	on the value of the start attribute. */

[start$="1"] li:nth-child(5n),
[start$="2"] li:nth-child(5n+4),
[start$="3"] li:nth-child(5n+3),
[start$="4"] li:nth-child(5n+2),
[start$="5"] li:nth-child(5n+1),
[start$="6"] li:nth-child(5n),
[start$="7"] li:nth-child(5n+4),
[start$="8"] li:nth-child(5n+3),
[start$="9"] li:nth-child(5n+2),
[start$="0"] li:nth-child(5n+1) {
  list-style-type: decimal;
}
/* Indent even numbered lines. */

[start$="1"].couplets li:nth-child(2n),
[start$="2"].couplets li:nth-child(2n+1),
[start$="3"].couplets li:nth-child(2n),
[start$="4"].couplets li:nth-child(2n+1),
[start$="5"].couplets li:nth-child(2n),
[start$="6"].couplets li:nth-child(2n+1),
[start$="7"].couplets li:nth-child(2n),
[start$="8"].couplets li:nth-child(2n+1),
[start$="9"].couplets li:nth-child(2n),
[start$="0"].couplets li:nth-child(2n+1) {
  text-indent: 1em;
}
/* STROPHES */
/* Proper indentation for strophes. This varies depending
	upon which line in the pattern begins the citation.
	Lines within a strophe are given letters: A, B, C, & D. */

ol:not(.from-B):not(.from-C).indent-C li:nth-child(3n+3),
.from-B.indent-C li:nth-child(3n+2),
.from-C.indent-C li:nth-child(3n+1),
ol:not(.from-B):not(.from-C):not(.from-D).indent-D li:nth-child(4n+4),
.from-B.indent-D li:nth-child(4n+3),
.from-C.indent-D li:nth-child(4n+2),
.from-D.indent-D li:nth-child(4n+1) {
  text-indent: 1em;
  padding-bottom: 1em;
}

ol:not(.from-B):not(.from-C).indent-C-D li:nth-child(4n+3),
.from-B.indent-C-D li:nth-child(4n+2),
.from-C.indent-C-D li:nth-child(4n+1),
.from-D.indent-C-D li:nth-child(4n) {
  text-indent: 1em;
}

ol:not(.from-B):not(.from-C):not(.from-D).indent-C-D li:nth-child(4n+4),
.from-B.indent-C-D li:nth-child(4n+3),
.from-C.indent-C-D li:nth-child(4n+2),
.from-D.indent-C-D li:nth-child(4n+1) {
  text-indent: 2em;
  padding-bottom: 1em;
}
/* JAVASCRIPT-DEPENDENT STYLES */
/* A CSS counter that replaces the native
   numbering of ordered lists. */
/* Conceal line numbers in each ordered list. */

ol.verse.js li {
  list-style-type: none;
}
/* Replace the OL with a CSS counter. */

ol.verse.js {
  counter-reset: poem;
  display: inline-block;
}
/* Each line item is counted. */

ol.verse.js li {
  counter-increment: poem;
}
/* Prepare to display the counter after each line. */

ol.verse.js li:after {
  content: counter(poem);
  float: right;
  padding-left: 4em;
  color: var(--accent);
  font-size: 0.8em;
  padding-top: 0.2em;
}
/* Suppress the counter. */

ol.verse.js li:after,
ol.verse.js li:after {
  visibility: hidden;
}
/* Reveal counter where appropriate. */

[start$="1"].js li:nth-child(5n):after,
[start$="2"].js li:nth-child(5n+4):after,
[start$="3"].js li:nth-child(5n+3):after,
[start$="4"].js li:nth-child(5n+2):after,
[start$="5"].js li:nth-child(5n+1):after,
[start$="6"].js li:nth-child(5n):after,
[start$="7"].js li:nth-child(5n+4):after,
[start$="8"].js li:nth-child(5n+3):after,
[start$="9"].js li:nth-child(5n+2):after,
[start$="0"].js li:nth-child(5n+1):after {
  visibility: visible;
}

/* App Crit Specific Styling Based on Thin UI (https://getbutterfly.com/thin-ui-update-pure-css-popover-to-replace-javascript-one/) */

.MSS {
  color: #d00000;
  font-size: 1.4rem;
  margin-bottom: -20px;
}

.variant {
  font-size: 1.2rem;
}

label.appCritPopover {
    position: relative;
    cursor: pointer;
}

label.appCritPopover button[name="popover"] {
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    background: none;
    border: 0 none;
    display: inline;
    outline: none;
    color: inherit;
    padding: unset;
}

label.appCritPopover .appCritBody {
    display: none;
    width: 250px;
    font-size: 1.2rem;
    background-color: #c7c8ca;
    color: white;
    text-align: center;
    padding-top: 0px;
    line-height: 0.9;
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 25%;
    margin-left: -100px;
}

label.appCritPopover button:focus + .appCritBody {
    display: block;
}

/* Popup arrow */
label.appCritPopover .appCritBody::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 40%;
  margin-left: -5px;
  border-width: 10px;
  border-style: solid;
  border-color:  #c7c8ca transparent transparent transparent;
}
